@charset "UTF-8";

/* ---------- 共通部分 ---------- */

html {
    font-size: 100%;
}

body {
    line-height: 1.7;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: bold;
    background-image: url("../images/kv-001.jpg");
    background-size: cover;
    text-align: center;
    margin-top: 85px;

}

a {
    /* リンクの下線なし */
    text-decoration: none;
}

img {
    max-width: 100%;
}


/* ---------- Header ---------- */

.logo {
    width: 210px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    /* テキスト全て大文字表記にする */
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: #432;
}


/* a:hover はaタグの上をカーソルが通ったときの設定 */

.main-nav a:hover {
    color: #0bd;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1100px;
    /* 中央配置 */
    margin: 0 auto;
    padding: 0 4;
}

/* ---------- HOME ---------- */

.home-content {
    text-align: center;
    margin-top: 10%;
}

.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/* ---------- 見出し ---------- */

.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}

/* ---------- ボタン ---------- */

.button {
    font-size: 1.375rem;
    background: rgb(255, 196, 2);
    color: #000000;
    /* 角を丸める */
    border-radius: 10px;
    padding: 6px 12px;
    margin-top: 15px;
}
.button1 {
    font-size: 1.375rem;
    background: rgb(255, 255, 255);
    color: #000000;
    /* 角を丸める */
    border-radius: 10px;
    padding: 6px 12px;
    margin-top: 15px;
}
.logout {
    font-size: 1.375rem;
    background: rgb(255, 255, 255);
    color: #000000;
    /* 角を丸める */
    border-radius: 10px;
    padding: 6px 12px;
    margin-top: 50px;
}
    
/* :hover はタグの上をカーソルが通ったときの設定 */

.button:hover {
    background: #0cf504;
}

/* 大きな背景画像 */

.big-bg {
    /* 画像の比率を維持した状態で画面いっぱいに表示 */
    background-size: cover;
    background-position: center top;
}

#home {
    background-image: url();
    background-size: cover;
    /* 最小縦幅 */
    min-height: 100vh;
}

#home .page-title {
    /* 全角半角指定なし */
    text-transform: none;
}

table,th,td {
    background-color: #fff;
    border: 3px solid #000;
}