<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--ファビコンの書き方-->
  <link rel="icon" href="{{url_for('static', filename='favicon/favicon.ico')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
  <title>InamuraLibrary</title>
  {% block css %}
  <!-- CSS埋め込み -->
   
  {% endblock %}
</head>
<body>
    
  <h2>【MorijyobiLibrary】</h2>
  
  <h3>ユーザーログイン画面</h3>
  {% if error != null %}
    <p style="color:red">{{error}}</p>
  {% endif %}
  {% if msg != null %}
    <p style="color:blue">{{msg}}</p>
  {% endif %}
  <div class="login">
  <form action="{{url_for('login')}}" method="post">
    ユーザ名:<input type="text" name="name" value="{{data.name if data is defined else ''}}"><br>
    パスワード：<input type="password" name="password" value="{{data.password if data is defined else ''}}"><br>
    <button type="submit" class="button">ログイン</button>
  </form>
  <form action="{{url_for('register_form')}}">
  <button type="submit" class="button1">新規登録</button>
  </form>
  </div>
</body>
</html>
{% block content %}
  <!-- ここにメインコンテンツを埋め込む -->
  {% endblock %}