<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--ファビコンの書き方-->
  <link rel="icon" href="{{url_for('static', filename='favicon/favicon.ico')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
  <title>InamuraLibrary</title>
</head>
<body>
  <h3>ユーザ登録画面</h3>
  {% if error != null %}
    <p style="color:red">{{error}}</p>
  {% endif %}
  <form action="{{url_for('user_register_exe')}}" method="post">
    ユーザ名:<input type="text" name="name" value="{{name}}"><br>
    パスワード：<input type="password" name="password" value="{{password}}"><br>
    <button type="submit">登録</button>
  </form>
</body>
</html>

